@import "src/scss-partials/typography";
@import "src/scss-partials/buttons";

h2{
    font-weight: bolder;
    margin: 2rem 0;
}

.registration{
    &-tshirt{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-pay{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5rem;
    }
}
