<div *ngIf="loaded">
    <div class="content">
    <ng-template *ngIf="hasRegistrations; else Allowed" >
        {{"registration_already_sign"| translate}}
    </ng-template>
    <ng-template #Allowed>
        <h2>{{"registration_regist" | translate}}</h2>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
    
        <div>
            <form [formGroup]="registration" (ngSubmit)="onSubmitRegistration()">
                <div class="components">
                    <div class="component">
                        <app-tourselector></app-tourselector>
                    </div>
                    <div class="component">
                        <label for="shirtSize">Koop een limited edition T-shirt</label> <br>
                        <img src="assets/images/tshirt.png" alt="damiaantours t-shirt" height="400px">
                        <select id="shirtSize" class="form-control" formControlName="shirtSize" (change)="onChangeShirt($event)">
                            <option *ngFor="let shirtSize of shirtSizes" [ngValue]="shirtSize">
                                {{ shirtSize }}
                            </option>
                        </select>
                        <p class="text-danger"
                            *ngIf="registration.get('shirtSize').errors && registration.get('shirtSize').touched">
                            {{ getErrorMessage(registration.get("shirtSize").errors) }}
                        </p><br>
            
                        <p>{{"registration_pay" | translate}} €{{price}}</p>
            
                        <button type="submit" class="btn btn-primary">{{"submit" | translate}}</button>
                    </div>
                </div>
            </form>
    
        </div>
    </ng-template>
    </div>
</div>


    