.map{
    height: 30rem;
    width: 30rem;
}

.components{
    display: flex;
    justify-content: space-around;
}

h2{
    color: #ff0040;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.content{
    margin: 1rem;
}