<div class="about">
    <div class="info">
        <div>
            <h2>OVER DE TOUR</h2>
            <p>
                Met de damiaan tour gaan we samen op wandeltocht rondom Tremelo.
                Onderweg zullen er zich wachtposten en rustplatsen bevinden waar u water kan bijtanken of een snackje nuttigen.
                Er is 
                Voor de optimale "experience" raden wij u aan onze bijhorende app te downloaden.
            </p>
            <p>
                We bieden 2 wandelingen aan voor dezelfde prijd, de kleine tour van 50km of de grote van 100km.
                Bij registratie kan u kiezen welke u wenst te bewandelen.
            </p>
            <p>
                Niet alleen u zal de wandeling kunnen beleven, indien u het wenst (aanvinken bij registratie) is er de mogelijkheid om je van thuisuit te laten supporteren door je vrienden en familieleden.
                Via een deelbare link (o.v.) kan je van thuisuit gevolgd worden via de website en kan je met het thuisfront communiceren.
            </p>
            <p>
                Om deel te nemen aan de tour dient u het bedrag van 50 euro te storten. 
                Dit geld gaat integraal naar de hulpverlening die wij bieden, met 50 euro kunt u 1 mensenleven redden.
            </p>
        </div>
        <div>
            <h2>OVER DE APP</h2>
            <p>
                Voor de wandeltocht hebben we een app ontwikkelt die je toelaat je afgelegde weg te volgen en de afstand tot het volgende checkpunt te zien.
                Maar er is meer onderweg zal je QR codes kunnen vinden. Deze kan je scannen met de app voor een tof weetje of een luisterfragment.
            </p>
            <p>
                De app is beschikbaar in de Google PlayStore voor android en in de AppStore voor iOS gebruikers.
            </p>
        </div>
    </div>
    <div class="app">
        <img class="phoneImg" src="/assets/app/phone_portrait.png" alt="app preview">
        <div class="download">
            <img class="dlImg" src="/assets/app/android.png" alt="android download">
            <img class="dlImg" src="/assets/app/ios.svg" alt="iOS download">
        </div>
    </div>
</div>