@import "src/scss-partials/variables";

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .about{
        margin: 0 5rem 7rem 5rem;
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        .info{ 
            width: 60rem; 
        }
        .app{
            .phoneImg {
                height: 30rem;
            }
            .download{
                display: flex;
                justify-content: center;
                .dlImg {
                    width: 12rem;
                    margin: 0.3rem;
                }
            }
        }
    }
    .tshirt{
        margin: 5rem 5rem 7rem 5rem;
        justify-content: space-around;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        .picture{
            .tshirtImg{
                height: 25rem;
            }
        }
        .info{
            width: 60rem; 
        }
    }
}

h2{
    color: $primary;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

hr {
    border: none; 
    height: 2px;
    background-color: $gray-3;
    width: 66.0em;
    margin: 0 auto;
    background-image: linear-gradient(to right , white 2%, $gray-3 50%, white 98%);
}