<div class="container my-5 userpage userpage-desktop" *ngIf="!isMobile else mobileLayout">
  <app-login></app-login>
  <app-register></app-register>
</div>


<ng-template #mobileLayout>
  <div class="container userpage userpage-mobile">
    <div class="toggle-buttons mb-3">
      <button class="btn btn-primary toggle-button" (click)="this.registerActive = false"
        [ngClass]="{'active': !this.registerActive}">
        Log In
      </button>

      <button class="btn btn-primary toggle-button" (click)="this.registerActive = true"
        [ngClass]="{'active': this.registerActive}">
        Sign Up
      </button>
    </div>

    <app-login *ngIf="!this.registerActive"></app-login>
    <app-register *ngIf="this.registerActive"></app-register>

  </div>
</ng-template>