#search{
    width: 50%;
    position: absolute;
    top: 35%;
    left: 25%;
    background-color: #FE0040;
    padding: 1rem;
    border-radius: 10px;
  }

  .searchcontrols{
      display: flex;
  }

  button {
      background-color: #3bb7a9;
      color: #414141;
      margin-left: 1rem;
  }

  button:hover{
    background-color: #2a8a7f;
  }

  label {
      color: white;
  }

  .chat{
    position: absolute;
    top: 30%;
    right: 5%;
  }

  .icon{
    position: absolute;
    bottom: -11%;
    right: -10%;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem #FE0040);
  }

  .iconify{
    width: 3rem;
    height: 3rem;
    color: #FE0040;
  }

  .icon:hover{
      cursor: pointer;
  }

  app-chat{
      visibility: hidden;
  }
