#search{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    background-color: #FE0040;
    padding: 1rem;
    border-radius: 10px;
  }

  .searchcontrols{
      display: flex;
  }

  button {
      background-color: #3bb7a9;
      color: #414141;
      margin-left: 1rem;
  }

  button:hover{
    background-color: #2a8a7f;
  }

  label {
      color: white;
  }