<div class="chatcomponent">
    <div class="chat" *ngIf="loggedon; else notLoggedOn" >
        <div class="chat-messages" #scrollMe [scrollTop]="scrolltop">
            <div class="chat-messages-message" *ngFor="let message of messages">
                <div class="chat-messages-message-meta">
                    <b class="text-primary">{{message.sender.name}}</b>
                    <small class="text-gray">{{message.time}}</small>
                </div>
                <div class="chat-messages-message-text">{{message.text}}</div>
            </div>
        </div>
        <form id="chat-form" class="chat-form" (ngSubmit)="onSendMessage($event)" >
            <input
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
            name="message"
            />
            <button class="btn btn-primary" value="Submit">verzenden</button>
        </form>
    </div>

    <ng-template #notLoggedOn>
        <div>
            <p>You are not yet logged on</p>
        </div>
    </ng-template>
    <script src="/socket.io/socket.io.js"></script>
</div>