@import "src/scss-partials/variables";
@import "src/scss-partials/buttons";
@import "src/scss-partials/typography";
@import "src/scss-partials/scrollbars";
.chat{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    &-messages{
        flex-grow: 1;
        display: flex;
        overflow-y: scroll;
        @include nice-scrollbar;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
        
        &-message{
            padding: 1rem 2rem;
            max-width: 70%;
            min-width: 5%;
            align-self: flex-end;
            height: fit-content;
            border-radius: 1rem 1rem 0 1rem;
            background-color: $gray-2;
            display: flex;
            flex-direction: column;
            overflow-wrap: break-word;

            &.from-walker{
                align-self: flex-start;
                border-radius: 1rem 1rem 1rem 0;
                background-color: lighten($primary, 5%);
                color: white !important;

                & .chat-messages-message-meta-sendername{
                    color: white !important;
                }
            }

            &-meta{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-basis: 100%;
                gap: 1rem;
                &>*{
                    display: block;

                }

                &-sendername{
                    color: $primary;
                }
                &-sendtime{
                    color: $gray-2;
                }
            }
        }
    }

    &-form{
        max-height: 3rem;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        gap: .5rem;
        input{
            flex-grow: 1;
        }
    }
}

