<div class="chatcomponent">
    <div class="chat" *ngIf="loggedon; else notLoggedOn">
        <div class="chat-messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        </div>
        <form id="chat-form"(ngSubmit)="onSendMessage($event)" >
            <input
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
            name="message"
            />
            <button class="btn" value="Submit">verzenden</button>
        </form>
    </div>

    <ng-template #notLoggedOn>
        <div>
            <p>You are not yet logged on</p>
        </div>
    </ng-template>
    <script src="/socket.io/socket.io.js"></script>
</div>