<div class="chat-messages">
</div>


<form id="chat-form"(ngSubmit)="onSendMessage($event)" >
    <input
      id="msg"
      type="text"
      placeholder="Enter Message"
      required
      autocomplete="off"
      name="message"
    />
    <button class="btn" value="Submit">verzenden</button>
</form>


<script src="/socket.io/socket.io.js"></script>
<!-- <script>
  var socket = io();
  socket.on('connect', function(){});
  socket.on('event', function(data){});
  socket.on('disconnect', function(){});
</script>  -->