@import "src/scss-partials/variables";
@import "src/scss-partials/buttons";
@import "src/scss-partials/mixins";

.container{
    .header{
        margin-bottom: 3rem;
        h1{
            font-size: 6rem;
            color: $gray-4;
        }
        h2{
            font-size: 1.5rem;
            color: $gray-4;
        }
    }
    .content{
        h2{
            font-size: 2rem;
            color: $primary;
            font-weight: bold;
            margin-bottom: 2rem;
        }
        .cta{
            display: flex;
            flex-direction: row;
            gap: 3rem;
            div{
                //text-align: center;
                h4{
                    font-size: 1.5rem;
                    color: $primary;
                    font-weight: bolder;
                }
            }
        }
    }
}

.bg{
    background: url("/assets/images/damiaanvlinder.png");
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
}