<div class="container bg">
    <div class="header">
        <h1>404</h1>
        <h2>{{"404_page" | translate}}</h2>
    </div>
    <div class="content">
        <h2>{{"404_page_now_youre_here" | translate}}</h2>
        <div class="cta">
            <div>
            <h4>{{"404_page_time" | translate}}</h4>
            <a   class="btn btn-primary" href="https://damiaanactie.be/vrijwilligers/" target="_blank">{{"404_page_time_btn" | translate}}</a>
            </div>
        <div>
            <h4>{{"404_page_money" | translate}}</h4>
            <a  class="btn btn-primary" href="https://donate.actiondamien.be/1/~mijn-donatie?context_form_id=form_87.67.237.94_5db0d409358782.43414831&_ga=2.227373909.911502565.1608393871-1925851881.1607614342" target="_blank">{{"404_page_money_btn" | translate}}</a>
        </div>
        
        </div>
    </div>
</div>