<div class="container content">
  <div *ngIf="loading; else noLoading" class="check-status">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #noLoading>
    <div *ngIf="succes; else noSucces">
      <h2>{{"payment_response_succes" | translate}}</h2>
      <p>
        {{"payment_response_succes_tour" | translate}} : {{tourName}}. <br />
        {{"payment_response_succes_info" | translate}}
        <a routerLink="/about" routerLinkActive="active">{{"payment_response_succes_link" |translate}}</a>.
      </p>
    </div>
    <ng-template #noSucces>
      <h2>{{"payment_response_nosucces" | translate}}</h2>
      <p>
      {{"payment_response_nosucces_notRegisterd" | translate}} <br />
      {{"payment_response_nosucces_go" | translate}}<a routerLink="/payment" routerLinkActive="active"> {{"payment_response_nosucces_link"| translate}} </a>{{"payment_response_nosucces_pagina"| translate}}.
      </p>
    </ng-template>
  </ng-template>
</div>
