<div class="page-container" id="page-container">
  <div class="content-wrap" id="content-wrap">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black ie-nav" [containerInside]="false">
      <span class="form-inline">
        <a class="btn text-light logout" *ngIf="loggedInUser$ | async" (click)="profile()">
          profile
        </a>
        <a class="btn text-light logout" *ngIf="loggedInUser$ | async" (click)="logout()">
          logout
        </a>
        <select class="form-control" #selectedLang (change)="changeLang(selectedLang.value)">
          <option *ngFor="let language of translate.getLangs()" [value]="language"
            [selected]="language === translate.currentLang">
            {{ language }}
          </option>
        </select>
      </span>
    </mdb-navbar>

    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white ie-nav" [containerInside]="false">
      <!-- Navbar brand -->
      <mdb-navbar-brand><a class="navbar-brand" href="#">
          <a class="navbar-brand" [routerLink]="['home']">
            <img src="assets/images/logoDE.png" height="40" alt="damiaantours logo" />
          </a>
        </a>
      </mdb-navbar-brand>

      <links>
        <!-- Links -->
        <ul class="navbar-nav ml-auto" id="navitems">
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link text-dark" [routerLink]="['admin-nav']" href="">{{
              "mn_admin_dashboard" | translate
            }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['about']" href="">{{
              "mn_over_de_tour" | translate
            }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['track']" href="">{{
              "mn_wandelaar_volgen" | translate
            }}</a>
          </li>
          <li class="nav-item" id="registerBtn">
            <a class="nav-link" (click)="schrijfIn()">
              <img src="assets/images/damiaanhartje.png" alt="damiaanhartje" height="30" class="heartImg" />
              <span class="text-white">{{
                "mn_ik_schrijf_me_in" | translate
              }}</span>
            </a>
          </li>
        </ul>
        <!-- Links -->
      </links>
      <!-- content -->
    </mdb-navbar>
    <div class="mb-5">
      <ng-content></ng-content>
    </div>
    <footer class="page-footer font-small" style="background-color: #ff0040">
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 mx-auto">
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
              {{ "mn_info" | translate }}
            </h5>

            <ul class="list-unstyled">
              <li>
                <a [routerLink]="['regulations']">{{
                  "mn_reglement_en_voorwaarden" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['sponsors']">{{
                  "mn_sponsors" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['privacypolicy']">{{
                  "mn_privacy_policy" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['cookiepolicy']">{{
                  "mn_cookie_policy" | translate
                }}</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 mx-auto">
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
              {{ "mn_links" | translate }}
            </h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://damiaanactie.be">{{
                  "mn_damiaanactie" | translate
                }}</a>
              </li>
              <li>
                <a href="https://damiaanactie-shop.be/">{{
                  "mn_webshop" | translate
                }}</a>
              </li>
              <li>
                <a href="#!">{{ "mn_andoid_app" | translate }}</a>
              </li>
              <li>
                <a href="#!">{{ "mn_iOS_app" | translate }}</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 mx-auto">
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

            <ul class="list-unstyled">
              <li>
                Damien Experience <br />
                {{ "mn_ondernemings_nr" | translate }}
              </li>
              <li>
                {{ "mn_da_straat" | translate }} <br />
                {{ "mn_da_stad" | translate }}
              </li>
              <li>
                {{ "mn_da_mail" | translate }} <br />
                +32(0)2 422 59 11
              </li>
              <li></li>
            </ul>
          </div>
          <!-- Grid column -->

          <div class="col-md-3 mx-auto">
            <!-- Language -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
              {{ "mn_taal" | translate }}
            </h5>

            <ul class="list-unstyled">
              <li>
                <a (click)="changeLang('nl')">Nederlands</a>
              </li>
              <li>
                <a (click)="changeLang('fr')">Français</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2020 Copyright
        <a href="https://damiaanactie.be/">
          {{ "mn_damiaanactie" | translate }}</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
</div>