<div class="content">
    <h2>Reglement</h2>
    <div class="rules">
        <div class="rule">
            <h4>Artikel 1</h4>
            <p>
                De Damien Tour wordt georganiseerd door de vzw Damiaanactie.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 2</h4>
            <p>
                De Damien Tour is een wandeltocht en geen wedstrijd. Deelnemen gebeurt vrijwillig en op eigen risico.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 3</h4>
            <p>
                Inschrijven gebeurt alleen op de wijze en onder de voorwaarden die door de vzw Damiaanactie worden bepaald. De inschrijving is strikt persoonlijk en niet overdraagbaar.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 4</h4>
            <p>
                Tijdens het event is het de deelnemers op gelijk welke wijze verboden:
            </p>
            <ul>
                <li>uiting te geven aan een politieke of religieuze gezindheid</li>
                <li>reclame-voorwerpen te dragen, tenzij met toestemming van het bestuur</li>
                <li>wapens mee te dragen, al of niet zichtbaar</li>
                <li>(huis-)dieren mee te voeren, om zowel de dieren zelf als de andere deelnemers te beschermen</li>
                <li>gebruik te maken van een vervoermiddel</li>
                <li>kinderwagens of andere een- of meerwielige voorwerpen, luidspelende radio's of andere geluidsdragers mee te voeren</li>
                <li>voorwerpen te dragen of mee te nemen die een gevaar kunnen betekenen voor de andere deelnemers, met inbegrip van wandelstokken zoals bij nordic walking</li>
                <li>gebruik te maken van handbikes of andere ketting-aangedreven rolstoelen (alleen gewone rolstoelen zijn toegestaan voor mindervalide deelnemers)</li>
                <li>als niet ingeschreven deelnemer een ingeschreven deelnemer te vergezellen gedurende de gehele of een deel van de afstand te voet of met een ander vervoermiddel met als doel de ingeschreven deelnemer te helpen.</li>
            </ul>
        </div>
        <div class="rule">
            <h4>Artikel 5</h4>
            <p>
                De deelnemers, medewerkers en het publiek mogen op geen enkele wijze uiting geven aan een politieke of religieuze voorkeur tijdens het evenement.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 6</h4>
            <p>
                De deelnemer is verplicht het aangegeven wandelparcours te volgen.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 7</h4>
            <p>
                De kledij van de deelnemer dient in overeenstemming te zijn met de goede zeden.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 8</h4>
            <p>
                Aanwijzingen van de organisatie, politie en andere medewerkers dienen te worden opgevolgd en gerespecteerd. De wegcode blijft van kracht op de openbare weg.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 9</h4>
            <p>
                Overtredingen van dit reglement leiden tot onmiddellijke uitsluiting van deelname, ook aan volgende edities en zonder enige tegemoetkoming of terugbetaling.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 10</h4>
            <p>
                Alle betaalde inschrijvingsgelden zijn ten allen tijde verworven door de organisator.   
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 11</h4>
            <p>
                Met de inschrijving voor de Damien Tour verklaart de deelnemer zich gezond verklaard door een arts, voor deelname aan een dergelijke afstand en inspanning. Bij problemen moet hij/zij die medische verklaring kunnen voorleggen.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 12</h4>
            <p>
                Met de inschrijving verklaart de deelnemer zich akkoord met het eventuele gebruik door de vzw Damiaanactie van zijn personalia en/of van zijn beeltenis in druk, op foto, film, video en dergelijke, voor promotionele of voorlichtende doeleinden van de Damien Tour, zonder dat hiervoor een vergoeding kan worden gevorderd.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 13</h4>
            <p>
                De vzw Damiaanactie is op geen enkele wijze verantwoordelijk of (geldelijk) aansprakelijk voor ongevallen en/of ziekte van deelnemers, voor verlies van bezittingen, of elk ander door de deelnemer beweerd geleden nadeel.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 14</h4>
            <p>
                De organisator behoudt zich het recht voor de route, start- en aankomsttijden of -plaatsen te wijzigen, of de Damien Tour geheel of gedeeltelijk af te lassen op grond van extreme weers-  of andere omstandigheden door de organisator bepaald, al of niet in samenspraak met overheid of politie. Er bestaat ook in die gevallen geen recht op teruggave van het inschrijfgeld noch op vergoeding van gelijk welke schade.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 15</h4>
            <p>
                Deelnemen kan alleen vanaf het jaar waarin iemand 16 jaar wordt, om medische redenen.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 16</h4>
            <p>
                Door deel te nemen aan de Damien Tour is de deelnemer zich bewust van de gevraagde en nodige inspanning, en erkent de deelnemer dat hij/zij zich in een medische toestand bevindt die hem/haar toelaat om de ganse 100 km af te leggen in de door de organisatie gestelde termijnen.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 17</h4>
            <p>
                Met de inschrijving voor de Damien Tour verklaart de deelnemer kennis te hebben genomen en akkoord te gaan met het reglement.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 18</h4>
            <p>
                Om de Damien Tour te kunnen organiseren, hebben wij van elke deelnemer een aantal basisgegevens nodig, die wij gebruiken voor het inschrijven, de verzekering, de statistieken, de veiligheid, het deelname diploma en om onze deelnemers via mail te kunnen informeren. In geen enkel geval worden die gegevens misbruikt of doorgegeven aan derden. Aan de deelnemer wordt dan ook gevraagd om hiervoor zijn/haar toestemming te geven.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 19</h4>
            <p>
                Deelnemen aan de Damien Tour zonder geldige inschrijving is gevaarlijk, ten strengste verboden, en ook volledig af te raden omdat men dan geen gebruik mag maken van alle aangeboden diensten : geen verzekering, geen medische verzorging door het Rode Kruis, geen bevoorrading, geen toegang tot de controleposten, geen bagagedienst of gebruik van de bezemwagens. Bij overtreding wordt deze persoon uitgesloten voor alle volgende Damien Tours of andere activiteiten van de vzw Damiaanactie.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 20</h4>
            <p>
                Al onze medewerkers zijn vrijwilligers die het beste van zichzelf geven om de Damien Tour te organiseren en de wandelaar van een schitterende ervaring te laten genieten. Dat verdient ook respect en sympathie. Als bepaalde wandelaars dat respect niet kunnen of willen opbrengen, zijn ze voortaan niet meer welkom op onze organisatie en worden ze uitgesloten van alle verdere deelnames in de toekomst.
            </p>
        </div>
        <div class="rule">
            <h4>Artikel 21</h4>
            <p>
                In alle gevallen waarin dit reglement niet voorziet, beslist het bestuur van de vzw Damiaanactie. Rechtszaken zullen steeds behandeld worden door hoven en rechtbanken van Brussel.
            </p>
        </div>
    </div>
</div>
