<div *ngIf="dataLoaded">
    
    <div class="container">
        <div class="map">
            <div *ngFor="let route of routes">
                <button (click)="onClick(route)">{{route.tourName}}</button>
            </div>
            <app-map [tourName]="tourname" [userName]="username"></app-map>
        </div>
        <div id="aboutTourInfo">
            <h2>{{"about_tour_info" | translate}}</h2>
            <p>
                {{ this.routeInfo }}
            </p>
        </div>
    </div>
</div>