<div id="add_route">
  <div *ngIf="routeFormShowing">
    <div class="form_comp">
      <app-add-route-form
        (updateEvent)="updatePath($event)"
        (startstopEvent)="startstopPath($event)"
        (finishedEvent)="finishRoute($event)"
        (undoEvent)="undoLastPath()"
        [distance]="distance"
      >
      </app-add-route-form>
    </div>
  </div>
  <div *ngIf="!routeFormShowing">
    <app-add-waypoints-form
    (addWaypointToMapEvent)="addWaypointToMap()"
    (saveAddedWaypointEvent)="saveAddedWaypoint($event)"
    ></app-add-waypoints-form>
  </div>
  <div id="add_route_map">
    <app-add-map
      [path]="path"
      [waypoints]="waypoints"
      [waypointAdding]="waypointAdding"
      (newCoordinates)="addCoordinates($event)"
      (newCoordinatesWaypoint)="addCoordinatesWaypoint($event)"
    ></app-add-map>
  </div>
</div>
