<!-- <div class="flexbox">
    <div class="navDiv">

        <ul class="navbar-nav ml-auto" id="navitems">
            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="manageroutes" href="">
                    Manage Routes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="add-route" href="">
                    Add Route</a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div> -->

DASHBOARD DING WERKT