.navDiv{
    border: 5px solid black;
    float: left;
    height: 100%;
    position: absolute;
 
    
}

.btnAddRouteDiv{
    align-content: center;   
    align-self: center;
}

.btnAddRoute{
    background-color: #3bb7a9;   
    margin: 10px;
}

.btnRemoveRoute{
    background-color: #FE0040;
    float: right;
}


