.navDiv{
    border: 5px solid black;
    float: left;
    width: 15%;
}

.routeListDiv{    
    border: black solid 5px;
    float: right;
    width: 80%;
}

/* .flexBox{
    display: flex;
    align-items: stretch;
    flex-direction: column;
} */

.btnAddRouteDiv{
    align-content: center;   
    align-self: center;
}

.btnAddRoute{
    background-color: #3bb7a9;   
    margin: 10px;
}

.btnRemoveRoute{
    background-color: #FE0040;
    float: right;
}

.RouteListItem{
    padding: 10px;
}

