<form ngNoForm  method="POST" action="https://ogone.test.v-psp.com/ncol/test/orderstandard_utf8.asp" id="form1" name="form1">
    <!--Mandatory / recommended / optional parameters -->
    <input type="hidden" name="PSPID" value="damiaanactie">
    <input type="hidden" name="ORDERID" value="3">
    <input type="hidden" name="AMOUNT" value="500">
    <input type="hidden" name="CURRENCY" value="EUR">
    <input type="hidden" name="LANGUAGE" value="nl_NL">
    <input type="hidden" name="EMAIL" value="ruben.naudts@student.hogent.be">
    <input type="hidden" name="SHASIGN" value="{{hash}}">
    <button type="submit" id="submit2" name="submit2">submitknop</button>
</form>