@import "src/scss-partials/variables";

//button
.btn{
    color: $white; 
    border-color: transparent;

    &-primary{
        background-color: $primary;

        &:hover{
            background-color: darken($primary, 3%) !important;
        }
    }

    &-secondary{
        background-color: $secondary;

        &:hover{
            background-color: darken($secondary, 3%) !important;
        }
    }
}

.toggle-buttons{
    display: flex;
    justify-content: center;

    .toggle-button{
        border: 1px solid $primary;
        border-radius: 0;
        background: none;
        color: $dark;
        &.active, &:hover, &:active{
            background-color: $primary;
            color: $white;
            font-weight: bolder;
        }
        
        &:first-of-type{
            border-radius: 5px 0 0 5px;
        }
        &:last-of-type{
            border-radius: 0 5px 5px 0;
        }
    }
}