<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
    <h2>Ik heb al een account</h2>
    <form [formGroup]="login" (ngSubmit)="onSubmitLogin()">
      <div class="loginform">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="loginEmail"
          placeholder="email@example.com"
          formControlName="email"
        />
        <p
          class="text-danger"
          *ngIf="login.get('email').errors && login.get('email').touched"
        >
          {{ getErrorMessage(login.get("email").errors) }}
        </p>
      </div>
      <div class="loginform">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="loginPassword"
          placeholder="Enter password"
          formControlName="password"
        />
        <p
          class="text-danger"
          *ngIf="
            login.get('password').errors && login.get('password').touched
          "
        >
          {{ getErrorMessage(login.get("password").errors) }}
        </p>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="loginRemindme" />
        <label class="remindme" for="remindme">Remember me</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
