<div class="banner z-depth-2">
    <div>
    </div>
    <div class="bannertxt">
        <h2 class="title">{{"home_title" | translate}}</h2>
        <h1>14 MEI 2020</h1>
        <h4>Save the date!</h4>
        <p>{{"home_schrijf_je_in" | translate}}</p>
        <button class="btn-primary inschrbtn" (click)="schrijfIn()">{{"home_schrijf_me_in" | translate}}</button>
    </div>
    <div class=bannerimg>
        <img src="/assets/images/hike.jpg" alt="hiking people on trail" style="height: 30rem;">
    </div>
</div>
<div id="countdown">
    <div id="field">
        <div class="data" id="days"></div>
        <div>{{"home_DAGEN" | translate}}</div>
    </div>
    <div id="field">
        <div class="data" id="hours"></div>
        <div>{{"home_UREN" |translate}}</div>
    </div>
    <div id="field">
        <div class="data" id="minutes"></div>
        <div>{{"home_MINUTEN" | translate}}</div>
    </div>
    <div id="field">
        <div class="data" id="seconds"></div>
        <div>{{"home_SECONDEN" | translate}}</div>
    </div>
</div>
<app-sponsors></app-sponsors>
