<div class="banner z-depth-2">
    <div>
    </div>
    <div class="bannertxt">
        <h2 class="title">Damien Experience wandelingen</h2>
        <h1>14 MEI 2020</h1>
        <h4>Save the date!</h4>
        <p>Schrijf je nu in voor de damien experience wandelingen.</p>
        <button class="btn-primary inschrbtn" (click)="schrijfIn()">SCHRIJF ME IN</button>
    </div>
    <div class=bannerimg>
        <img src="/assets/images/hike.jpg" alt="hiking people on trail" style="height: 30rem;">
    </div>
</div>
<div id="countdown">
    <div id="field">
        <div class="data" id="days"></div>
        <div>DAGEN</div>
    </div>
    <div id="field">
        <div class="data" id="hours"></div>
        <div>UREN</div>
    </div>
    <div id="field">
        <div class="data" id="minutes"></div>
        <div>MINUTEN</div>
    </div>
    <div id="field">
        <div class="data" id="seconds"></div>
        <div>SECONDEN</div>
    </div>
</div>
<app-sponsors></app-sponsors>
