.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ff0040;
}

.bannertxt{
    text-align: center;
    margin-left: 1rem;
    color: white;
}

.inschrbtn{
    background-color: #ff0040;
    color: #ffffff; 
    border-color: #ffffff;
    font-size: 1.5rem;
}

.inschrbtn:hover{
    background-color: #e20139 !important;
    color: #ffffff; 
    border-color: #ffffff;
    font-size: 1.5rem;
}

.title{
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 1rem;
}

h1{
    font-weight: bolder;
    font-size: 4rem;
    color: #dcdcdc;
    margin: 3rem;
}

#countdown{
    width: 37rem;
    display: flex;
    background-color: #3bb7a9;
    position: absolute;
    right: 0;
    top: 10rem;
    opacity: 0.8;
}

#field{
    width: 8rem;
    margin: 1rem 0rem 1rem 1rem;
    padding: 1rem;
    text-align: center;
    background-color: #ff0040;
    color: white;
}

.data{
    font-size: 2.5rem;
}


