<div>
    <!-- Lijst van routes -->
    <div class="routeListDiv">
        <div class="btnAddRouteDiv">
            <button class="btnAddRoute">Add new Route</button>
        </div>
        <div *ngFor="let route of routes" class="RouteListItem">
            {{route.tourName}} | {{route.distanceInMeters}}m | {{route.date | date: "dd/MM/yyyy"}}
            <button class="btnRemoveRoute">Remove Route</button>
        </div>

        <a class="nav-link text-dark" [routerLink]="['/dashboard/test']">
            ManageRoutes</a>
    </div>
    
</div>