<!-- <div class="all">
     Lijst van routes
    <div class="routeListDiv">
        <div class="btnAddRouteDiv">
            <button class="btnAddRoute">Add new Route</button>
        </div>
        <div *ngFor="let route of routes" class="RouteListItem">
            {{route.tourName}} | {{route.distanceInMeters}}m | {{route.date | date: "dd/MM/yyyy"}}
            <button class="btnRemoveRoute">Remove Route</button>
        </div>

        <a class="nav-link text-dark" [routerLink]="['/dashboard/test']">
            ManageRoutes</a>
    </div>
    
</div> -->
<div class="main">
    <mat-list class="list">
        <div *ngFor="let route of routes">
            <mat-list-item class="listItem">
                <mat-icon matListIcon class="icon-left">map</mat-icon>

                <h4 matLine>{{route.tourName}}</h4>
                <p matline>{{route.date | date: "dd/MM/yyyy"}}</p>
                <p matLine> <span> {{route.distanceInMeters / 1000}} km </span></p>

                <div class="icon-right">
                    <button mat-icon-button class="icon-right-button" [routerLink]="['/admin-nav/edit-route',route.tourName]" >
                        <mat-icon class="mat-24">create</mat-icon>
                    </button>
                </div>

                <div class="icon-right">
                    <button mat-icon-button class="icon-right-button" (click)="openDialog(route.tourName)">
                        <mat-icon class="mat-24">delete</mat-icon>
                    </button>
                </div>
            </mat-list-item>
            <hr>
        </div>
    </mat-list>
</div>

<div class="overlay" *ngIf="popup">
    <div class="popup">
        <h2>Delete route?</h2>
        <a class="close" (click)="popup = false">&times;</a>
        <div class="content">
            Are you sure that you want to delete this route?<br>
            This can not be undone.<br>
            <button>DELETE</button>
        </div>

    </div>
</div>