.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: #ff0040;
    margin-top: 2rem;
    font-size: 3rem;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.sponsor{
    height: 5rem;
    margin: 1rem;
}